.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared text */
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.secondary-bg{
    background-color: #FFF8F3;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

/* header */

.header{
    background-image: url('../images/developer.png'), url('/images/header_bg.png');
    background-repeat:no-repeat ;
    background-position: top left, bottom right;
}

/* nav styles */
nav{
    display: flex;
    margin: 0px 200px;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner-styles */

.banner{
    display: flex;
    justify-content: space-between;
}

.banner .banner-content{
    width: 585px;
    height: 356px;
    margin: 0 35px 0 200px;
}

.banner .banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner .banner-title{
    font-weight: bold;
    font-size: 85px;
}

.banner p{
    font-size: 18px;
}

.dark-3{
    color: #757575;
}

.banner .banner-profile-pic{
    width: 584px;
    height: 676px;
}

/* main section */

main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about-styles */

.about{
    border-radius: 10px;
    padding: 130px 156px;
    text-align: center;
}

.item-des{
    font-weight: bold;
}

.about-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* skills styles */

.skills .section-title{
    text-align: center;
}

.skills .section-description{
    text-align: center;
    padding: 0 110px;
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume section styles */

.resume-container{
    display: flex;
    gap: 24px;
}

.resume .section-title{
    text-align: center;
}

.ex-subtitle, .ex-des{
    color: #757575;
}

.resume-column-title, .ex-title{
    color: #474747;
}

.ex-subtitle{
    margin-top: -13px;
}

.resume-btn{
    margin-top: 50px;
    text-align: center;
}

/* footer section styles */

footer{
    display: flex;
    padding: 130px 230px;
    gap: 117px;
}

.footer-column{
    width: 50%;
}

footer #same{
    padding: 18px 30px;
    color: #757575;
    border-radius: 5px;
    border: none;
    display: block;
    margin-bottom: 24px;
    width: 400px;
}